<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="logg.json" />

      <layout type="BaseLibrary.Core.Logger.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <usetransactions value="false"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.\sqlexpress;initial catalog=BaseDb;integrated security=false;persist security info=True;User ID=sa;Password=123456?" />
      
      <commandText value="INSERT INTO Logs ([Date],[Audit],[Detail]) VALUES (@log_date,@audit,@logDetail)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </parameter>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="JsonFileAppender" />
    </root>
    <logger name="JsonFileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="AdoNetAppender">
      <level value="All" />
      <appender-ref ref="AdoNetAppender" />
    </logger>
  </log4net>
</configuration>